{% extends 'base.html' %}

{% load humanize %}
{% block title_page %} Sotuvlar {% endblock %}
{% block sale_active %} active {% endblock %}

{% block content %}
    <form method="post" id="edit-sales-form" class="col-md-12">
        {% csrf_token %}
          <div class="modal-body">
              <label for="product">Mahsulot: </label>
             <select class="form-control" name="product_id" id="product">
                 {% for product in products %}
                    <option value="{{ product.id }}">{{ product.name }} -- {{product.price }} so'm -- {{ product.quantity }} {{ product.unit }}</option>
                 {% endfor %}
             </select>
                <br>
              <label for="client">Mijoz: </label>
             <select class="form-control" name="client_id" id="client">
                 {% for client in clients %}
                    <option class="form-control" value="{{ client.id }}">{{ client.name }} -- {{client.shop_name }}</option>
                 {% endfor %}
             </select>
                <br>
                <label for="quantity">Miqdor:</label>
              <input type="number" name="quantity" id="quantity" value="1" class="form-control" required>
              <br>
              <label for="total_price">Jami to'lov (so'm):</label>
              <input type="number" name="total_price" id="total_price" class="form-control">
              <br>
                <label for="paid_price">To'landi:</label>
              <input type="number" name="paid_price" id="paid_price" class="form-control">
              <br>
                <label for="debt_price">Qarz:</label>
              <input type="number" name="debt_price" id="debt_price" class="form-control">
                <br>
            </div>

        <!-- Modal footer -->
        <button type="submit" class="btn btn-success">Yangilash</button>
        <a href="{% url 'sales' %}">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
        </a>

    </form>

{% endblock %}
